@tailwind base;
@tailwind components;
@tailwind utilities;


.chat {
    flex: 2;
}

.sidebar {
    flex:1;
}

.messages {
    height: calc(100% - 125px);
}


.owner {
    flex-direction: row-reverse;  
}


.owner p {
    background-color: #8da4f1;
    color: white;
}